/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #fd6e0a;
}
.btn-primary{
    background: #fd6e0a;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}

/* nave related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nav-tittle{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    
}
nav > ul {
    display: flex;
    align-items: center; 
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/*header related styles*/
.header{
    background-color: #fff8f3;
}
.banner{padding: 30px 30px 30px 150px;
       display: flex;
       align-items: center;
       position: 500px;
}
.banner .profile-pic {
width: 400px;
}
.profile-pic{
    background-image: none;


}